:root {
  --app-height: 100%;
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 100;
  font-display: swap;
  src: url(/assets/static/fonts/Quicksand-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'UbuntuMono';
  font-weight: 100;
  font-display: swap;
  src: url(/assets/static/fonts/UbuntuMono-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 400;
  font-display: swap;
  src: url(/assets/static/fonts/Quicksand-Medium.woff2) format('woff2');
}

* {
  box-sizing: border-box;
  margin: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-weight: 100;
  vertical-align: baseline;
  font-family: 'Quicksand', 'Helvetica', sans-serif;
}

strong {
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: 400;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Quicksand', 'Helvetica', sans-serif;
}

code {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'UbuntuMono', monospace;
}

a {
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* https://github.com/dev-ggaurav/responsive-hamburger-tutorial */
.header{
  border-bottom: 1px solid #E2E8F0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 1140px;
  margin: 0 auto;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover{
  color: #482ff7;
}

.nav-logo {
  font-family: 'Quicksand', 'Helvetica', sans-serif;
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

@media only screen and (max-width: 768px) {

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 4rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    z-index: 50;
    box-shadow:
    0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
  }
}

body {
  line-height: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  height: var(--app-height);
}

footer {
  margin-top: auto;
}

main {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 1rem;
  flex: 1;
}

/* styles cribbed from https://grid-cats.glitch.me/ */
.site-tools {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  max-width: 1140px;
  margin: 0 auto 30px;
}

.site-tool-card {
  display: flex;
  min-height: 120px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}
