<!DOCTYPE html>
<html lang="en-us">
<link rel="stylesheet" href="/assets/static/css/main.css">
<link rel="stylesheet" href="/assets/static/css/highlight.css">
  <head>
    <title>
         <%= trailId %>
    </title>
  </head>
  <body>
<section id="nav">
<h1><%= runningMaterial.title %></h1>
<div class="nav-links">
<% _.forEach(runningMaterial.nav_links, function({name, target}) { 
    %><div class="nav-link-ctr"><a class="nav-link" href="<%- target %>"><%- name  %></a></div><% 
}); %>
</div>
</section>
  <h1><%= trailId %> </h1>
    <p class="subtitle">
    </p>
<section>
<% _.forEach(_(members).sortBy((x) => _.get(x, 'frontMatter.createDate')).reverse().value(), function(member) { %><div class="trail-member"><h3><a href="<%= member.synthetic.url %>"><%- _.get(member, 'frontMatter.title') || "no title" %></a></h3><p><%- _.get(member, 'frontMatter.author') %></p><p><%- formatDate(_.get(member, 'frontMatter.createDate') || _.get(member, 'frontMatter.date')) %></p></div><% }); %>
</section>
  </body>
</html>
